.centered { vertical-align:middle !important; text-align:center; }
.centered-button { display:block; margin:0 auto; }
.margin-top-bottom {margin-top: 10px; margin-bottom: 10px;}
.btn {
    margin-bottom: 10px !important;
}
img{
    display: none
}

span:hover + img{
    display: block;
}

paddingRight {
    padding-right: 10px;
}

button {
    width: 100px;
}

.btn-link {
    width: 25px !important;
}

.btn {
    width: 100px;
}

table {
    text-align: center;
}

.table>thead>tr>th {
    text-align: center;
}